<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Data Entered</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body class="bg-success">
    {{>navbar}}
    <br>
    {{!-- <div class="position-relative"> --}}
    <h1 style="color: white;" class="position-absolute top-50 start-50 translate-middle">Data {{val}} Entered Successfully</h1>
    {{!-- </div> --}}

    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/jq/jquery.js"></script>
</body>
</html>